<mat-toolbar color="primary">
    Watcher admin
</mat-toolbar>

<main>
    <div style="display: block;">
        <table *ngIf="show == true" style="margin-left: auto;margin-right: auto;width: 80%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="actividad">
                <th mat-header-cell *matHeaderCellDef style="text-align: center"> Actividad </th>
                <td mat-cell *matCellDef="let element"> {{element.actividad}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="opcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="text-align: center"> Opcion</th>
                <td mat-cell *matCellDef="let element">
                    <div class="btn-group">
                        <button mat-raised-button matTooltip="Editar abono" class="btn btn-primary" type="button" (click)="edit(element.position)">
                            ver
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
    </div>
</main>