<mat-dialog-content class="mat-typography">
    <div>
        <div style="float:left; margin-left: 5px">
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="fechaI" [matDatepicker]="picker2" placeholder="Seleccione" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker2">
                </mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </div>
        <div style="float:left; margin-left: 5px">
            <mat-form-field class="example-full-width">
                <input matInput [min]="fechaI" [(ngModel)]="fechaF" [max]="today" [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

        </div>
        <div style="float:left; margin-left: 10px;">
            <button mat-raised-button class="btn btn-primary" type="button" (click)="search();">
                Buscar
            </button>
        </div>
    </div><br>
    <div *ngFor="let i of historial">
            <mat-grid-list cols = "3" rowHeight = "100px">
                <mat-grid-tile 
                [colspan] = "1"
                [rowspan] = "1">{{i.actividad}}
                </mat-grid-tile>
                <mat-grid-tile 
                [colspan] = "1"
                [rowspan] = "1">{{i.fecha | date:'dd/MM/yyyy'}}
                </mat-grid-tile>
                <mat-grid-tile 
                [colspan] = "1"
                [rowspan] = "1">{{i.hour | date:'HH:mm a'}}
                </mat-grid-tile>
            </mat-grid-list>
        <hr>
    </div>

</mat-dialog-content>